<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Groovy Movies</a>
      <!-- <span class="navbar-brand">{{#link-to ""}}Groovy Movies{{/link-to}}</span> -->
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>{{#link-to "movies"}}Movies{{/link-to}}</li>
        <li>{{#link-to "users"}}Users{{/link-to}}</li>
        <li>{{#link-to "new-movie"}}New Movie{{/link-to}}</li>

      </ul>
        {{#each model as |user|}}
          {{#if user.isLoggedIn}}
          <span id='login-info'>You are logged in as: {{user.userName}}</span>
          {{else}}
          {{/if}}
        {{/each}}
    </div>
  </div>
</nav>

{{outlet}}
