<div class="form-group">
  <form>
    {{input valueBinding='user-name' class='form-control' id='user-name' placeholder='User Name'}}
    {{input valueBinding='password' class='form-control' id='password' placeholder='Password'}}
    <br>
    <button class="btn btn-success" {{action 'save'}}>Add User</button>
  </form>
</div>
